
.content {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
}

#console {
    background-color: #eee;
    border: 0px solid black;
    margin: 4px;
    padding: 4px;
    overflow-y: auto;
}

.flex-vbox {
    display: flex;
    flex-direction: column;
}

.flex-fill {
    flex: 1 1 auto;
}

.h100 {
    height: 100%;
}
