
html {
    height: 100%;
}

body {
    box-sizing: border-box;
    height: 100%;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    border: 8px solid #fff;
}

#blocklyDiv {
    min-height: 50px;
}

#vsplitter {
    margin-top: 4px;
    height: 4px;
    background-color: #ddd;
    display: none;
}

#vsplitter:hover {
    background-color: #aaa;
    cursor: row-resize;
}

#console {
    margin: 0;
    border: 1px solid #888;
    padding: 2px;
    background-color: #ddd;
    overflow: auto;
    height: 200px;
    min-height: 100px;
    display: none;
}
