
#simulatorMouseTrap {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#simulatorWindow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 0 0 5pt 1pt #888;
    background-color: #eee;
    border: 2px solid #ccc;

    /* display: flex; */
    /* flex-direction: column; */
}

#simulatorWindowBar {
    height: 20px;
    padding: 2px;
    color: #fff;
    background-color: #00f;
}

#simulatorIcons {
    padding: 4px;
    background-color: #ddd;

    display:flex;
    align-items:center;
}

#simulatorSpeedRange {
    width: 100px;
}

#simulatorSpeedSpan {
    width:6em;
}

#simulatorQuit {
    margin-left: auto;
}

#simulatorContent {
    border: 1px solid #ccc;
    background-color: #eee;

    max-width: 600px;
    /* flex: 1; */
    resize: both;
    overflow: auto;
}

#simulatorVariableDiv {
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid black;

    /* max-width: 600px; */
}

#simulatorVariables {
    display: flex;
    flex-wrap: wrap;
    /* display: flex-inline; */
}

#simulatorVariables label {
    margin: 2px;
    padding: 2px;
    background-color: #ddd;
    border: 1px solid #aaa;
}

#simulatorVariables label span {
    margin-left: 8px;
    padding-left: 4px;
    padding-right: 4px;
    color: #fff;
    background-color: #44f;
}
