
#topbar {
    background-color: #ddd;
    margin-bottom: 4px;
    padding: 4px;
}

#appname {
    font-size: 150%;
    font-weight: bold;
}

#menus {
    display: inline;
    margin-left: 20px;
}

.menu {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.menu span {
    padding: 4px;
    margin-bottom: 4px;
}

.menu span:hover { background-color: #c0c0ff; }
.menu span.opened { background-color: #c0c0ff; }

.menucontent {
    display: none;
    position: absolute;
    background-color: #f0f0f0;
    min-width: 10em;
    margin-top: 4px;
    padding: 4px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.5);
}

.menucontent div:hover { background-color: #ddd }
.menucontent div {
    padding: 4px;
}

/*  Show/hide the content of the element by inserting/removing this class from
 *  the class list
 */
.menu div.show { display: block; }
